* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background-color: rgba(0, 0, 0, 0.164);

}
.App-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 5% 5%;
  gap: 5%;
}

.useeffect{

  height: 30rem;
  width: 70%;
  background-color: rgba(255, 0, 0, 0.329);
  border: solid 1px;

}

.lifecycle{
  height: 30rem;
  width: 70%;
  background-color: rgba(4, 70, 87, 0.651);
  border: solid 1px;


}

.first-h1{
  text-align: center;
  border: solid;
  background-color: rgba(255, 255, 0, 0.199);
  margin: 5% 10%;
  color: rgba(0, 0, 0, 0.692);
}